{% extends "::base.html.twig" %}
{% block body %}

</br></br>




<table class="table table-bordered">
{% for overview in overviews %}
     <tr class="warning">
          <td>From:</td>
          <td>{{ overview.from }}</td>
     </tr>
     <tr class="warning">
          <td>Date:</td>
          <td>{{overview.date}}</td>
     </tr>
     <tr class="warning">
          <td>Subject:</td>
          <td>{{overview.subject}}</td>
     </tr>
     <tr class="info">
          <td colspan="2"><textarea rows="10" style="width :100%" >{{body|raw}}</textarea></td>
     </tr>
	 {%endfor%}
</table>
{% endblock %}