{% extends "::base.html.twig" %}
{% block body %}

</br></br>
<table class="table table-condensed">
     <tr>
          <td>From</td>
          <td>Date</td>
          <td>Subject</td>
     </tr>

{%if num!=0 %}
	 {% for i in size..0 %}

     <tr style="background-color:#C4D7ED">
          <td>{{overviews[i].from }}</td>
          <td>{{overviews[i].date}}</td>
         <td><a href="{{path('detail_mail',{'id' : overviews[i].uid, 'num' : overviews[i].msgno})}}">{{overviews[i].subject}}</a></td>
     
     </tr>
     

{%endfor%}
{% else%}
<tr>boite vide</tr>
{%endif%}
</table>


 
{% endblock %}