{% extends '::base.html.twig' %}

{% block body -%}
   <div style="width: 80%; margin-left: 10%;margin-top: 50px;" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Moteur de recherche</h3>
  </div>
  <div class="panel-body">
    <form  class="form-inline" role="form" action="{{ path('document_recherche') }}" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="document" placeholder="Search">
          
 </div>
            <div class="col-lg-3"> 
            <select name="recherche" class="form-control">
                <option value="titre">Titre</option>
                <option value="usernamePartageur">Username Partageur</option>
                <option value="MotCle">mot Cle</option>
                
</select>
</div>
            <button class="btn btn-default" type="submit">Chercher</button>
        </form>
  </div>
</div>






     




    {% endblock %}

